{{>navAdmin}}
<main>

<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Consulta</th>
            <th scope="col">Contacto</th>
            <th scope="col">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {{#each pedidos}}
            <th scope="row">{{this.id}}</th>
            <td>{{this.nombre}}</td>
            <td>{{this.email}}</td>
            <td>{{this.consulta}}</td>
            <td>{{this.contacto}}</td>
            <td><form action="/pedido/delete/{{this._id}}" method="post"><button class="btn btn-danger" type="submit">Eliminar</button></form></td>
        </tr>
            {{/each}}
    </tbody>
</table>
</main>
{{>footerAdmin}}